{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="mag" role="button">Earthquake data on the basis of magnitude</a>
</div>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="magdep" role="button">Magnitude Vs Depth Graph</a>
</div>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="net" role="button">Earthquake data on the basis of Place</a>
</div>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="specified" role="button">Earthquake data on Specified Range</a>
</div>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="generate_chart" role="button">Sample</a>
</div>
{% endblock %}