{% extends "base.html" %}
{% block content %}
<br>
<br>
<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart Example</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="text-center" id="container" style="width: 800px; height: 600px; margin: 0 auto; justify-content: space-between;"></div>
    <script type="text/javascript">
        // Define the chart options
        var chartOptions = {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Earthquake Magnitude Distribution'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} % <br> Total {point.y}'
                    }
                }
            },
            series: [{
                name: 'Magnitude Category',
                colorByPoint: true,
                data: [
                    {% for i in range(categories|length) %}
                        {
                            name: '{{ categories[i] }}',
                            y: {{ counts[i] }}
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            }]
        };

        // Create the chart
        Highcharts.chart('container', chartOptions);
    </script>
</body>
</html>

{% endblock %}
