{% extends "base.html" %}
{% block content %}
<br>
<br>
<!DOCTYPE html>
<html>
<head>
    <title>Histogram-like Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="text-center" id="container" style="width: 800px; height: 600px; margin: 0 auto;"></div>

    <script type="text/javascript">
        // Define the chart options
        var chartOptions = {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Earthquake Distribution on the basis of specified Location - {{ location_inputs }}'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Date'
                },
                categories: {{ data|tojson }}
            },
            yAxis: {
                title: {
                    enabled: true,
                    text: 'Count'
                }
            },
            tooltip: {
                formatter: function() {
                    return 'Date: <b>' + this.x + '</b><br>Count: <b>' + this.y + '</b>';
                }
            },
            series: [{
                name: 'Count',
                color: 'rgba(223, 83, 83, .5)',
                data: {{ count|tojson }}
            }]
        };

        // Create the chart
        Highcharts.chart('container', chartOptions);
    </script>
</body>
</html>

{% endblock %}
